/***************************
	Filename: custom.css;
	Author:  Erica de Bem;
	Date: 26.06.2022;

	Index
	
	0. Reset
	1. General
	2. Header
	3. Cities
	4. Table of Contents
	5. Stats
	6. Footer

****************************/


/***************************
 		0. Reset
 ***************************/


/***************************
 		1. General
 ***************************/

body {
	font-family: 'Poppins', sans-serif;
	color: #60495f;
}

::selection {
	background: #ffee58;
	color: #ff00af;
}

h1 {
	font-size: 48px;
	line-height: 120%;
	margin-top: 150px;
	font-weight: 600;
}

h4 {
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
	text-align: left;
	color: #ff00af;
	margin-bottom: 32px;
}

h5 {
	font-size: 16px;
	line-height: 150%;
	font-weight: 400;
	margin-bottom: 3px;	
}

p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #60495f;
}

/***************************
 		2. Header
 ***************************/


header#hero {
	color: #ffffff;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#de47ac+0,ad1283+50,ff00af+100 */
	background: rgb(222,71,172); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(222,71,172,1) 0%, rgba(173,18,131,1) 50%, rgba(255,0,175,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(222,71,172,1) 0%,rgba(173,18,131,1) 50%,rgba(255,0,175,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(222,71,172,1) 0%,rgba(173,18,131,1) 50%,rgba(255,0,175,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de47ac', endColorstr='#ff00af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

header nav {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#de47ac+0,ad1283+50,ff00af+100 */
	background: rgb(222,71,172); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(222,71,172,1) 0%, rgba(173,18,131,1) 50%, rgba(255,0,175,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(222,71,172,1) 0%,rgba(173,18,131,1) 50%,rgba(255,0,175,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(222,71,172,1) 0%,rgba(173,18,131,1) 50%,rgba(255,0,175,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de47ac', endColorstr='#ff00af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-box-shadow: none;
	box-shadow: none;
}

#hero-title h1 {
	margin-bottom: -4px;
}

#hero-subtitle h5 {
	margin-bottom: 24px;	 
} 

header#call-to-scroll {
	 
} 

a.brand-logo {
	font-size: 24px;
	font-weight: 500;
}

#value-proposition {
	height: 750PX;
}

#value-proposition a {
	color: #b633bf;
	font-weight: 600;
}

#value-proposition .col {
	padding:0;
}

#call-to-scroll {
	color: #ff00af;
	font-size: 16px;
	font-weight: 600;
}

#call-to-scroll .cta {
	margin-bottom: -12px;
	margin-top: 24px;
}

#call-to-scroll i {
	font-size: 50px;
}



/***************************
 		3. Cities
 ***************************/

#cities {
	 
} 

#cities-title {
	 
} 

.card-action a {
	background: #fe03b0;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
}

.card-action a:hover {
	background: #9a259f;
}


 /***************************
 	4. Table of Contents
 ***************************/

#table-of-contents {
	background: #fff6ff;
	padding: 24px 0px;
}

#table-of-contents-title {
	 margin-top: 24px;
}

#table-of-contents-title h4 {
	 margin-bottom: -8px;
} 

#table-of-contents-subtitle {

} 

#table-of-contents-subtitle p {
	margin-bottom: 32px;
} 

#table-of-contents-content {
	 background: #fff;
} 

.table-of-contents-content-title {
	 font-weight: 600;
	 font-size: 18px;
	 line-height: 24px;
	 text-align: left;
	 padding: 16px 16px 0px 16px;
}

.table-of-contents-content-title-items {
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	text-align: left; 
	padding: 0px 16px;
	margin-left: 32px;
}

.table-of-contents-content-title-items li {
	padding: 4px 0px;
}


/***************************
 		5. Stats
 ***************************/


#stats {
	 
} 

#stats-content {
	 
} 

.stats-content-title {
		font-weight: 600;
		font-size: 60px;
		line-height: 90px;
		color:#fe03b0;
		text-shadow: 0px 0px 20px #fff;
		padding-top: 32px;	 
} 

.stats-content-subtitle {
	 	font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		text-align: center;
		color:#60495f;
		padding-bottom: 32px;	
} 

/***************************
 		6. Footer
 ***************************/

.page-footer {
	background: #9c27b0;
} 



